@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .ver-consultas-main-box{
    width: 100%;
    height: 100%;
} */

.container{
    width: 1200px;
    margin: auto;
}

.consultas-main-box{
    background-image: url(../img/fundo-imagem.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.consultas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-consultas{
    background-color: #038085;
    width: 858px;
    height: 687px;
    border-radius: 131px;
    margin-bottom: 13px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-consultas h1{
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 29px;
    font-weight: 600;
}

.consulta{
    background-color: #03A5AB;
    width: 737px;
    height: 89px;
    border-radius: 10px;
    /* conteúdo */
    display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.tipo-medico{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
     color:white;
     padding-left: 13px;
}

.box-dados-consulta{
    display: flex;
    justify-content: space-between;
}

.consulta-dados span{
    font-family: 'Barlow', sans-serif;
    color: white;
    margin:  0 13px  0 13px;
}

.consulta a{
    font-family: 'Barlow', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 21px;
}
